{% extends 'base.html.twig' %}


{% block body %}
    {% block nav %}{% include 'navbar.html.twig' %}{% endblock %}
<br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm">
                <h1>Welkom bij Venezia.</h1>

                <p>Een frisse, vrolijke ijssalon met een vleugje glamour waar je het beste en lekkerste
                    ijs van Amsterdam kan halen, gemaakt door meester ijsbereider (hoogste graad van vakbekwaamheid in ijs) Luc Blok.
                    Probeer naast ons uitgebreide ijsassortiment ook eens onze andere ijs-lekkernijen
                    zoals een scroppino, een ijsshake of ijskoffie. Wil je liever genieten van een stevige
                    espresso op ons gezellige terras? Ook dat is mogelijk (uiteraard serveren wij deze met een mini ijs hoorntje!)</p>
            </div>
            <div class="col-sm-1">
            </div>


    {% block footer %}
            <footer class="page-footer font-small blue fixed-bottom ">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright: Mehmet Yildiz
            </div>
            <!-- Copyright -->

            </footer>
    {% endblock %}
        </div>
    </div>
{% endblock %}
