{% extends 'base.html.twig' %}


{% block body %}
    {% block nav %}{% include 'navbar.html.twig' %}{% endblock %}
    <br><br><br><br>

    <table class="table">
        <tbody>

        </tbody>
    </table>
    <div class="container">
        <div class="row">
            <div class="col-sm">

            </div>
            <div class="col-sm">
                <h1>IJs Smaken</h1>
                {% for a in ijsrep %}
                    <br><td>{{ a.naam }}</td>
                    <td>€{{ a.kosten }}</td>
                {% endfor %}
            </div>
            <div class="col-sm">
            </div>

    {% block footer %}
        <footer class="page-footer font-small blue fixed-bottom ">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright: Mehmet Yildiz
            </div>
            <!-- Copyright -->

        </footer>

    {% endblock %}
    </div>
    </div>
{% endblock %}










